<h2>Seja bem vindo ao meu site!</h2>
<p>Olá, esse é apenas um pequeno demonstrativo de um projeto em Angular!
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolorum, dolore odit nulla quaerat non distinctio voluptatum voluptate aperiam aliquam eius, debitis porro nostrum voluptas illo ipsam. Laborum, voluptatum obcaecati!</p>
 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit adipisci nam id aspernatur quo eaque voluptatibus non soluta inventore accusamus doloremque cum, ad, aut eveniet dicta. Iure velit natus itaque.
 